<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Login Page.</p>
<form id="login_form">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password :</label><br>
    <input type="text" id="password" name="password">
    <input type="submit" value="Send Request" />
</form>
</body>
<script>


    const form = document.querySelector("#login_form");

    form.addEventListener("submit", (event) => {
        event.preventDefault();
        sendData()
    })

    async function sendData(){
        const formData = new FormData(form)
        var object = {};
        formData.forEach((value, key) => object[key] = value);
        var json = JSON.stringify(object);
        try{
            const response = await fetch("http://api-gateway:7777/api/auth/login",{
            method: "POST",
            headers:{
    'Content-Type': 'application/json'
    },
            body: json,
            });
            console.log(await response.json())
        }
        catch(e){
            console.error(e)
        }
    }

</script>
</body>
</html>